.bg {
    width: 100%;
    /* height: 50vh; */
}
.bg-theme {
    width: 96%;
}
.bg-title {
    width: 65%;
}
.info-text {
    font-weight: 500;
    font-size: 12vh;
    color: white;
    margin-top: -10%;
}
.info-value {
    font-weight: 500;
    font-size: 12vh;
    color: white;
    margin-top: -18%;
}
.v-text {
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
}

@media(min-width: 450px){
    .title-block {
        margin-top: 1%;
    }
    .title{
        font-size: 26px;
    }
    .direction{
        font-size: 22px;
    }
    .concept{
        font-size: 22px;
        width: 95%;
        /* height: 220px; */
        height: 240px;
        resize: none;
        outline: none;
        border: none;
        background-color: #ffffff00;
        color: white;
    }
}
/* <=412 */
@media(max-width: 450px){
    .title-block {
        margin-top: 2%;
    }
    .title{
        font-size: 20px;
    }
    .direction{
        font-size: 16px;
    }
    .concept{
        font-size: 16px;
        width: 95%;
        /* height: 120px; */
        height: 140px;
        resize: none;
        outline: none;
        border: none;
        background-color: #ffffff00;
        color: white;
    }
}
.puff-out-center {
	-webkit-animation: puff-out-center 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
	        animation: puff-out-center 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}
@-webkit-keyframes puff-out-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(2);
              transform: scale(2);
      opacity: 0;
    }
  }
  @keyframes puff-out-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(2);
              transform: scale(2);
      opacity: 0;
    }
  }